.card-wrapper {
  border: 3px solid rgb(66, 66, 66);
  width: 45%;
  min-height: 30em;
  border-radius: 0.3em;
  padding: 2em 2em;
  margin-top: 2em;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2em;
}

.card-header h2 {
  color: #e0dada;
  font-size: 2.5em;
}

.card-header i {
  margin-right: 0.8em;
  font-size: 40px;
  /* color: #7026B9; */
  /* color: #fff; */
}
/* 
.read-button {
    display: inline-block;
    padding-top: 1.5em;
} */

.card-body p {
  color: #a5a5a5;
  font-size: 17px;
  margin-top: 1.5em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* max-width: 200ch; */
}


img {
    width: 90%;
    height: 50%;
    border-radius: 1em;
}